<!DOCTYPE html>
<html>
<head>                                
        <meta charset="UTF-8">
        <title>DailyRun.app - Invalid Permissions</title>
        <meta name="description" content="Show how many days in a row you have logged Strava activities for">
        <link rel="stylesheet" type="text/css" href="/resources/style.css" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
	<!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<h2><a href='/'>Daily Run</a></h2>
	<p>We require activity read access in order to calculate your fitness streak. Please try connecting again and check "View data about your activities" and "View data about your private activities"</p>
	<p><a href="{{ . }}"><img src="/resources/connect_strava.svg" alt="Connect with Strava"></a></p>
        <a href="https://strava.com"><img id="powered_by_strava_svg" src="/resources/powered_by_strava.svg" alt="Powered by Strava"></a>
</body>
</html>
